BINARY=$1
${{ '{' }}BINARY{{ '}' }} get namespace {{ prom_stack.namespace }}  >/dev/null 2>&1
if [ $? != 0 ]
then
  ${{ '{' }}BINARY{{ '}' }} apply -f - <<EOF
---
  kind: Namespace
  apiVersion: v1
  metadata: 
    name: {{ prom_stack.namespace }}
    labels: 
      name: {{ prom_stack.namespace }}
EOF
else
  echo "Namespace {{ prom_stack.namespace }} already created" 
fi

{% for item in prom_stack.accounts %}
${{ '{' }}BINARY{{ '}' }} get serviceaccount --namespace {{ prom_stack.namespace }} {{ item.serviceaccount }}  >/dev/null 2>&1 
if [ $? != 0 ]
then
  ${{ '{' }}BINARY{{ '}' }} apply -f - <<EOF
---
  apiVersion: v1
  kind: ServiceAccount
  metadata:
    name: {{ item.serviceaccount }}
    namespace: {{ prom_stack.namespace }}
EOF
else
  echo "Service Account {{ item.serviceaccount }} already created"
fi
{% endfor %}
#unlink $0
